

.indexTable {
  float: left;
  display: inline-block;
  border: 1px solid #000000;
  width: 10%;
  padding: 5px 8px 5px;
  margin: 5px 35px 5px 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

#piedHeader {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin: 13px 5px 8px 23px;
  border: 1px solid #000000;
}

#piedTitle {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: auto;
  margin: 0px 0px 18px 0px;
  border: 1px solid #000000;
}

.product {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.threeBoxes {
  display: inline-block;
  border: 1px solid black;
  margin: 30px 40px 0px  5px;
  padding: 12px 20px;
}

.paragraph {
  font-size: 11px;
  font-weight: bold;
  line-height: 15px;
  width: 600px;
  margin: 0px 0px 8px 5px;
  border: 1px solid #000000;
}

img {
    width: 90px;
    padding: 23px 33px 23px 33px;
}

* {
    vertical-align: top;
    font-family: 'Open Sans';
    color: rgb(68, 68, 68);
}
